.menu {
    background-color: #2F4E7C;
    /* height: 100vh; */
}

.conteudo_principal {
    background-color: #E9E9E9;
    height: 100vh;
    min-height: 100%;
    padding: 15px !important;
    width: 100%;
}

.container_pesquisa {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;

    background-color: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_pesquisar {
    width: 350px !important;

}

.input_pesquisar::placeholder {
    color: #CCCCCC !important;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.conteudo_usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.nome_usuario {
    margin-bottom: 0px;
    /* font-family: "Poppins"; */
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.email_usuario {
    margin-top: 0px;
    /* font-family: "Poppins"; */
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #b1b0b0;
}

.conteudo_identificacao {
    padding-left: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_valores {
    min-height: 150px;
    margin-top: 30px;
    gap: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card {
    width: 500px !important;
    height: 130px !important;
    border-radius: 10px !important;

    display: flex;
    align-items: start;
}

.conteudo_card {
    display: flex;
    align-items: center;
}

.total_inventario {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
}

.valor_total {
    font-size: 32px;
    margin-left: 15px;
    /* font-family: "Poppins"; */
    font-weight: bold;
    color: green !important;
}

.valor_depreciacao {
    font-size: 32px;
    margin-left: 15px;
    /* font-family: "Poppins"; */
    font-weight: bold;
    color: red !important;
}

.valor_atual {
    font-size: 32px;
    margin-left: 15px;
    /* font-family: "Poppins"; */
    font-weight: bold;
    color: #2F4E7C !important;
}

.texto_card {
    font-size: 20px;
    margin-left: 15px;

    /* font-family: "Poppins"; */
    font-weight: bold;
    color: #9F9F9F;
}